# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow
5. Seaborn
6. Scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| R Studio |
| VS Code |
| Anaconda Navigator |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
 - List of popular languages in Data Science
 - Commonly used libraries ny Data Scientists
 - Data Science Tools
 - Examples of arithmetic expressions in Python

## Author
Nishank